server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/almacen_peliculas
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

rating:
  rabbitmq:
    exchange: exchange_videocloud00
    routing-key: RatingActualizadoEvent
